<div class="container" ng-controller='editCount'>
	<div class="col-md-6 col-md-offset-3">
        <div class="page-header">
            <h1 class="text-center">修改日记</h1>
        </div>
    <form  ng-submit='postArt(post)'>
    标题：<br />
    <input type="text" name="title" ng-model='post.title'/><br />
    标签：<br />
    <input type="text" ng-model='post.tags[0]'/><br />
    <input type="text" ng-model='post.tags[1]'/><br />
    <input type="text" ng-model='post.tags[2]'/><br />
    正文：<br />
    <textarea name="post" ng-model='post.post' rows="20" cols="100"></textarea><br />
    <input type="submit" value="保存修改"/>
</form>
</div>